[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
build
packages
imagecache
TestResults
artifacts
App_Data
bower_components
node_modules

**/[Aa]ssets/dist/
